<!DOCTYPE html>
<html lang="fi">
<head>
    <title>Tilavaraus</title>
    <meta content="text/html;charset=utf-8" http-equiv="Content-Type">
    <meta content="utf-8" http-equiv="encoding">
    <meta charset="utf-8">
</head>

<body>
    <header>
    </header>
    <main>
        <table id="table-varaukset">
                <tr>
                    <th>ID</th>
                    <th>Tila</th>
                    <th>Varaaja</th>
                    <th>Päivämäärä</th>
                </tr>
                
                <tr>
                    <td>1</td>
                    <td>neukkari_majakka</td>
                    <td>Väino Lammi</td>
                    <td>2025-05-01</td>
                </tr>
                
                <tr>
                    <td>2</td>
                    <td>neukkari_voltti</td>
                    <td>Topias Vähälä</td>
                    <td>2025-05-06</td>
                </tr>
                
                <tr>
                    <td>3</td>
                    <td>toimisto_256</td>
                    <td>Väino Lammi</td>
                    <td>2025-05-31</td>
                </tr>
                
        </table>
        <table id="table-varaajat">
                <tr>
                    <th>ID</th>
                    <th>Nimi</th>
                </tr>
                
                <tr>
                    <td>1</td>
                    <td>Väino Lammi</td>
                </tr>
                
                <tr>
                    <td>2</td>
                    <td>Liisa Ritola</td>
                </tr>
                
                <tr>
                    <td>3</td>
                    <td>Topias Vähälä</td>
                </tr>
                
                <tr>
                    <td>4</td>
                    <td>Ilari Tulkki</td>
                </tr>
                
                <tr>
                    <td>5</td>
                    <td>Kauno Koskinen</td>
                </tr>
                
        </table>
        <table id="table-tilat">
                <tr>
                    <th>ID</th>
                    <th>Nimi</th>
                </tr>
                
                <tr>
                    <td>1</td>
                    <td>neukkari_majakka</td>
                </tr>
                
                <tr>
                    <td>2</td>
                    <td>neukkari_voltti</td>
                </tr>
                
                <tr>
                    <td>3</td>
                    <td>toimisto_254</td>
                </tr>
                
                <tr>
                    <td>4</td>
                    <td>toimisto_255</td>
                </tr>
                
                <tr>
                    <td>5</td>
                    <td>toimisto_256</td>
                </tr>
                
        </table>
    </main>
    <footer></footer>
</body>

</html>